.App {
  text-align: center;
}

.home-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px;
}

.navbar {
  display: inline;
}

.lifts-container {
  display: grid;
  grid-template-columns: repeat (4, 1fr);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
